{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
  

{% endblock %}

{% block content %}



  <!-- MAIN -->


    {% if auth_user %}



  <section id="myteams" class="section teams">
    <h1>My Teams</h1>
    <ul class="team-ul">

    {% if my_teams %}
      {% for team in my_teams %}
        <a href="{{team.url}}">
          <li>
            <header>
              <img style="height: 4rem; width: auto;" class="profile_pic" src="static/images/{{team.profile_pic}}" alt="{{team.name}}'s profile picture">
              <h3>{{team.name}}</h3>
            </header>
            <p>{{ team.description }}</p>
          </li>
        </a>
      {% endfor %}
    {% endif %}

      <a href="/draft/team">
        <li>
          <header>
            <img class="profile_pic" src="static/images/draft_symbol.png" alt="create a team symbol">
            Create a new team.
          </header>
        </li>
      </a>
    </ul>
  </section>
  <hr><br>

  <section id="pubteams" class="section teams">
    <h1>Public Teams</h1>
    {% if pub_teams %}
    <ul class="team-ul">
      {% for team in pub_teams %}

        <a href="{{team.url}}">
          <li>
            <header>
              <img class="profile_pic" src="../static/{{team.image}}" alt="{{team.name}}'s profile picture">
              <h3>{{team.name}}</h3>
              <form name="request_join_team" action="https://thepointistochangeit.com/teams/{{team.id}}/request">
                <fieldset>
                  <legend>Request to join</legend>
                  <input type="submit" name="request_join_team">
                </fieldset>
              </form>
            </header>
            <p>{{ team.description }}</p>
          </li>
        </a>

      {% endfor %}
    </ul>
    {% endif %}
  </section>




    {% else %}
    <!-- HERO SECTION -->

    <div id="buffer">.</div>
    <section id="hero" class="section">

      <div class="row-container">
        
        <div class="row-item col-container">

          <header>
          <h1>Site Under Development</h1>
          </header>
          <p>
            Short description. This should only be one or two lines and get straight to the point.
          </p>
        </div>
      </div>

    </section>



    <!-- MISSION SECTION -->
    <div id="buffer">.</div>
    <section id="mission" class="section">
      This is where the mission statement would go.
    </section>

    <!-- ABOUT SECTION -->

    <section id="about" class="section">
      This is where the company's story gets told.
    </section>

    <!-- TEAM SECTION -->
    {% if team_members %}
    <div id="buffer">.</div>
    <section id="team" class="section">
      <header>
        <h1>Meet the Team</h1>
      </header>
      <div id="team-bios" class="row-container bios-container">

        {% for member in team_members %}
        <div class="row-item bio">
          <img class="profile_pic" src="https://thepointistochangeit.com/static/images/{{member.image}}" alt="A photo of {{member.name}}">
          <hgroup class="member-info">
            <h1>{{ member.name }}</h1>
            <h2> {{ member.role }}</h2>
          </hgroup>
        </div>
        {% endfor %}

      </div>
    </section>
    {% endif %}


    {% endif %}



{% endblock %}