<!-- inherit from base.html -->
{% extends "base.html" %}

<!-- declare subtitle -->
{% block title %}Profile{% endblock %}

<!-- inherit parent header -->
{% block head %}
{{ super() }}
  <!-- static files here -->
{% endblock %}




{% block content %}

<!-- set user to either authenticated or public user -->

{% if pub_user %}
      {% set user = pub_user %}
    {% elif auth_user %}
      {% set user = auth_user %}
    {% else %}
      NONE
    {% endif %}
  {% if msg %}
      {{ msg }}
  {% endif %}


<header>
  {% filter upper %}
  <h1>{{ user.username }}</h1>
  {% endfilter %}
</header>

<div id="buffer">.</div>
<section id="account" class="section">
  <header>
    <h2>Account</h2>
  </header>
    <ul>
      <li>
        <form>
          <fieldset>
            <legend>Update profile picture</legend>
            <img class="profile_pic" src="../{{user.image}}"><br>
            <input type="submit" value="choose file">
          </fieldset>
        </form>
      </li>
      <li>
        <a href="">Update email</a>
      </li>
      <li>
        <a href="">Update password</a>
      </li>
      <li>
        <a href="">Delete account</a>
      </li>
    </ul>
</section>


{% if my_roles %}
<div id="buffer">.</div>
<section id="myroles" class="section">
    <h1>My Roles</h1>
    <ul class="role-ul">

      {% for role in my_roles %}
        <a href="{{role.url}}">
          <li>
            <header>
              <img src="static/images/{% if role.image %}{{role.image}}{% else %}{{ user.image }}{% endif %}" alt="{{role.name}}'s profile picture">
              <h3>{{role.name}}</h3>
            </header>
            <p>{{ role.description }}</p>
          </li>
        </a>
      {% endfor %}

    </ul>
  </section>
  <hr>
{% endif %}

{% if my_teams %}
<div id="buffer">.</div>
<section id="myteams" class="section">
    <h1>My Teams</h1>
    <ul class="team-ul">

      {% for team in my_teams %}
        <a href="{{team.url}}">
          <li>
            <header>
              <img src="static/images/{{team.image}}" alt="{{team.name}}'s profile picture">
              <h3>{{team.name}}</h3>
            </header>
            <p>{{ team.description }}</p>
          </li>
        </a>
      {% endfor %}

    </ul>
  </section>
{% endif %}



{% endblock %}