<!-- inherit from base.html -->
{% extends "base.html" %}

<!-- declare subtitle -->
{% block title %}Login{% endblock %}

<!-- inherit parent header -->
{% block head %}
{{ super() }}
  <!-- static files here -->

  <!-- this is where static files specific to this child template go -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles11.css') }}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/login/google');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        window.location.href = xhr.responseURL
      };
      xhr.send('idtoken=' + id_token);
    }

  </script>
  <meta name="google-signin-client_id" content="{{GOOGLE_CLIENT_ID}}">





{% endblock %}




{% block content %}


<!-- main content here -->


    <a href="https://thepointistochangeit.com">home</a><br>
        {% if msg %}
        {{ msg }}<br>
        {% endif %}
        login<br>
    <form name="login" action='/login' method="post">
        <fieldset>
            <legend>LOGIN</legend>
            <ul>
                <label for="userNameOrEmail">Username or Email: </label>
                <li><input type="text" name="userNameOrEmail" value="" required></li>
                <label for="password">Password: </label>
                <li><input type="password" name="password" value="" required></li>
                <li><button type="submit" name="register" value="register">SUBMIT</button></li>
            </ul>
        
        </fieldset>
    </form>
    <a href="/reset_password">Forgot password?</a>


    <br>
    <section id="sign-in">
        <div class="g-signin2" data-onsuccess="onSignIn">Sign in with Google</div>
    </section>
      


  {% endblock %}
