<!-- inherit from base.html -->
{% extends "base.html" %}

<!-- declare subtitle -->
{% block title %}Login{% endblock %}

<!-- inherit parent header -->
{% block head %}
{{ super() }}
  <!-- static files here -->
{% endblock %}




{% block content %}


<!-- main content here -->


    <a href="https://thepointistochangeit.com">home</a><br>
        {% if msg %}
        {{ msg }}<br>
        {% endif %}
        login<br>
    <form name="login" action='/login' method="post">
        <fieldset>
            <legend>LOGIN</legend>
            <ul>
                <label for="email">Email: </label>
                <li><input type="email" name="email" value="" required></li>
                <label for="password">Password: </label>
                <li><input type="password" name="password" value="" required></li>
                <li><button type="submit" name="register" value="register">SUBMIT</button></li>
            </ul>
        
        </fieldset>
    </form>
    <a href="/reset_password">Forgot password?</a>





  {% endblock %}
