<!-- inherit from base.html -->
{% extends "base.html" %}

<!-- declare subtitle -->
{% block title %}Register{% endblock %}

<!-- inherit parent header -->
{% block head %}
{{ super() }}
  <!-- static files here -->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles11.css') }}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/register/google');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        window.location.href = xhr.responseURL
      };
      xhr.send('idtoken=' + id_token);
    }
  </script>
  <meta name="google-signin-client_id" content="{{GOOGLE_CLIENT_ID}}">





{% endblock %}




{% block content %}


<!-- main content here -->





<a href="/">home</a><br>
{% if debug %}
{{ debug}}
{% endif %}
<form name="register" action='/register' method="post" enctype="multipart/form-data">
<fieldset>

	<legend>
	<strong>REGISTER</strong>
	</legend>

	<ul>
		<li>
			<label for="email">Email: </label>
			<input type="email" name="email" value="" required>
		</li>
		<li>
			<label for="username">Username: </label>
			<input type="text" name="username" value="" required>
		</li>
		<li>
			<label for="password">Password: </label>
			<input type="password" name="password" value="" required>
		</li>
		<li>
			<label for="pic">Profile picture:</label>
			<input type="file" name="file">
		</li>
		<li>
			<button type="submit" name="register" value="register">SUBMIT</button>
		</li>
	</ul>

</fieldset>
</form>
<section id="sign-in">
	<div class="g-signin2" data-onsuccess="onSignIn">Sign in with Google</div>
</section>



	{% endblock %}
