<!-- inherit from base.html -->
{% extends "base.html" %}

<!-- declare subtitle -->
{% block title %}Register{% endblock %}

<!-- inherit parent header -->
{% block head %}
{{ super() }}
  <!-- static files here -->
{% endblock %}




{% block content %}


<!-- main content here -->





<a href="/">home</a><br>
{% if debug %}
{{ debug}}
{% endif %}
<form name="register" action='/register' method="post" enctype = "multipart/form-data">
<fieldset>

	<legend>
	<strong>REGISTER</strong>
	</legend>

	<ul>
		<li>
			<label for="email">Email: </label>
			<input type="email" name="email" value="" required>
		</li>
		<li>
			<label for="username">Username: </label>
			<input type="text" name="username" value="" required>
		</li>
		<li>
			<label for="password">Password: </label>
			<input type="password" name="password" value="" required>
		</li>
		<li>
			<label for="pic">Profile picture:</label>
			<input type="file" name="file">
		</li>
		<li>
			<button type="submit" name="register" value="register">SUBMIT</button>
		</li>
	</ul>

</fieldset>
</form>



	{% endblock %}
