<html>
    <body>
        {% if not success %}
        <form name="reset_password" action="/me">
            <fieldset>
                <legend>Create a new password.</legend>
                <ul>
                    <li>
                        <label for="new_password1">New password</label>
                        <input type="password" name="password1">
                    </li>
                    <li>
                        <label for="new_password2">Enter it again</label>
                        <input type="password" name="password2">
                    </li>
                    <li>
                        <input type="submit" name="password">
                    </li>
                    {% if msg %}
                        <li>
                            {{ msg }}
                        </li>
                    {% endif %}
                </ul>
            </fieldset>
        </form>
        {% else %}
        Your password has been reset!
        {% endif %}
    </body>
</html>